@media only screen and (min-width: 375px) {
  .greeting {
    text-align: center;
    margin-top: 2rem;
    font-size: 3rem;
  }

  .alternate-authentication {
    font-size: 0.8rem;
  }

  .form {
    gap: 4rem;
  }
}

@media only screen and (min-width: 375px) and (max-width: 600px) {
  /*nav*/
  nav {
    height: 3rem;
    margin-bottom: 0.1rem;
  }
  .name {
    font-size: 2rem;
    padding-left: 0.2rem;
  }

  .navbar {
    gap: 0.5rem;
    padding-right: 0.2rem;
  }

  /*filter-bar*/
  .filter-bar {
    display: none;
  }

  /*extra*/
  .back-to-top-button {
    height: 3.5rem;
    width: 3.5rem;
    bottom: 3rem;
    right: 1rem;
  }

  .back-to-top {
    height: 2rem;
    width: 2rem;
  }

  .loading {
    font-size: 3rem;
  }

  /*Main content*/
  .previews-container {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .preview-title {
    font-size: 1rem;
    padding: 0.5rem 0 1rem 0;
  }

  .preview-image {
    height: 10rem;
    width: 7.5rem;
  }

  .preview-info {
    font-size: 0.8rem;
    padding: 0 1.2rem;
    margin: 0;
  }

  /***show***/

  .show-relative-container {
    width: 100vw;
    height: 40vh;
  }

  .show-title {
    font-size: 2rem;
  }

  .show-cover-image {
    height: 10rem;
    width: 7.5rem;
  }

  .show-description-container {
    padding: 2rem 1.5rem;
  }

  .show-description {
    font-size: 0.8rem;
  }

  .seasons-container {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .season-title {
    font-size: 1rem;
    padding: 0.5rem 0 1rem 0;
  }

  .season-cover-image {
    height: 10rem;
    width: 7.5rem;
  }

  .season-episode-number {
    font-size: 1rem;
  }

  .back-to-shows {
    width: 1rem;
    height: 1rem;
  }

  /* Episode Overlay*/
  .episode-page-title {
    margin: 2rem 0;
    font-size: 3rem;
  }

  .episodes-container {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .episode-title {
    font-size: 1rem;
    padding: 0.5rem 0 1rem 0;
  }

  .episode-image {
    height: 10rem;
    width: 7.5rem;
    margin-top: 0.6rem;
  }

  .episode-description {
    padding: 0 0.4rem;
    font-size: 0.8rem;
  }

  /* Favourites */
  .favourite-page-title {
    margin: 2rem 0;
    font-size: 3rem;
  }

  .favourites-container {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .favourite-time {
    font-size: 0.8rem;
  }
  .favourite-image {
    height: 10rem;
    width: 7.5rem;
    margin-top: 0.6rem;
  }
  .favourite-title {
    font-size: 1.2rem;
    padding: 0.5rem 0 1rem 0;
  }
  .favourite-season {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  .favourite-episode {
    font-size: 1rem;
    margin-top: 1.5rem;
  }

  .favourite-button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }

  .episode-favourite-image {
    filter: contrast(0);
    height: 3rem;
    width: 3rem;
  }

  .clear-all-favourites {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }
}

@media only screen and (min-width: 375px) and (max-width: 400px) {
  .preview-title {
    font-size: 0.85rem;
  }

  .preview-info {
    font-size: 0.7rem;
  }
}

@media only screen and (min-width: 500px) and (max-width: 600px) {
  /*Main content*/

  .preview-title {
    font-size: 1.35rem;
  }

  .preview-info {
    font-size: 0.85rem;
  }
  .episode-title {
    font-size: 1.2rem;
  }
  .episode-description {
    padding: 0 0.45rem;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 375px) and (max-width: 1000px) {
  /*Carousel*/
  .carousel-text {
    display: none;
  }
  .carousel-content {
    margin: 0;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  /*nav*/
  nav {
    height: 5rem;
  }

  .name {
    font-size: 3rem;
    padding-left: 0.4rem;
  }

  .navbar {
    gap: 1rem;
    padding-right: 1rem;
  }

  /*filter-bar*/
  .filter-bar {
    display: none;
  }

  /*extra*/
  .back-to-top-button {
    height: 4rem;
    width: 4rem;
    bottom: 3rem;
    right: 1rem;
  }

  .back-to-top {
    height: 2.5rem;
    width: 2.5rem;
  }

  .loading {
    font-size: 3rem;
  }

  /*Main content*/
  .previews-container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .preview-title {
    font-size: 1.5rem;
    padding: 0.5rem 0 1rem 0;
  }

  .preview-image {
    height: 15rem;
    width: 11.25rem;
  }

  .preview-info {
    font-size: 1rem;
    padding: 0 1.2rem;
  }

  /***show***/

  .show-relative-container {
    width: 100vw;
    height: 60vh;
  }

  .show-title {
    font-size: 3rem;
  }

  .show-cover-image {
    height: 15rem;
    width: 11.25rem;
  }

  .show-description-container {
    padding: 2rem 1.5rem;
  }

  .show-description {
    font-size: 1rem;
  }

  .seasons-container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .season-title {
    font-size: 1.3rem;
    padding: 0.5rem 0 1rem 0;
  }

  .season-cover-image {
    height: 10rem;
    width: 7.5rem;
  }

  .season-episode-number {
    font-size: 1.2rem;
  }

  .back-to-shows {
    width: 1.5rem;
    height: 1.5rem;
  }

  /* Episode Overlay*/
  .episode-page-title {
    margin: 2rem 0;
    font-size: 3rem;
  }

  .episodes-container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .episode-title {
    font-size: 1.5rem;
    padding: 0.5rem 0 1rem 0;
  }

  .episode-image {
    height: 15rem;
    width: 11.25rem;
    margin-top: 0.6rem;
  }

  .episode-description {
    padding: 0 0.4rem;
    font-size: 1rem;
  }

  /* Favourites */
  .favourite-page-title {
    margin: 2rem 0;
    font-size: 3rem;
  }

  .favourites-container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .favourite-time {
    font-size: 1rem;
  }
  .favourite-image {
    height: 15rem;
    width: 11.25rem;
    margin-top: 0.6rem;
  }
  .favourite-title {
    font-size: 1.5rem;
    padding: 0.5rem 0 1rem 0;
  }
  .favourite-season {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  .favourite-episode {
    font-size: 1rem;
    margin-top: 1.5rem;
  }

  .favourite-button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }

  .episode-favourite-image {
    filter: contrast(0);
    height: 3rem;
    width: 3rem;
  }

  .clear-all-favourites {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .previews-container {
    padding: 4rem;
    gap: 2.5rem;
  }

  .seasons-container {
    padding: 4rem;
    gap: 2.5rem;
  }
  .episodes-container {
    padding: 4rem;
    gap: 2.5rem;
  }
  .favourites-container {
    padding: 4rem;
    gap: 2.5rem;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  /*nav*/
  nav {
    height: 5rem;
  }

  .name {
    font-size: 3.5rem;
    padding-left: 0.4rem;
  }

  .navbar {
    gap: 1rem;
    padding-right: 1rem;
  }

  /*Carousel*/
  .carousel-content {
    margin: 5rem 0;
  }

  .carousel-text {
    font-size: 2rem;
  }

  .carousel-image {
    width: 11.25rem;
    height: 15rem;
    box-shadow: -8px 8px 17px 0px rgba(12, 112, 117, 0.75);
  }

  .carousel-text-inside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .carousel-title {
    font-size: 1.2rem;
    font-weight: 900;
    align-self: center;
  }

  .carousel-description {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
  }

  /*filter-bar*/
  .filter-bar {
    padding: 1rem 2rem;
  }

  .filter-bar {
    width: 100vw;
    height: 3rem;
    border: 0.2rem solid #05161a;
    background-color: #6da5c0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    align-content: center;
    margin: 6rem 0;
    opacity: 0.75;
  }

  .filter-bar-label {
    color: #05161a;
    font-size: 1.4rem;
    font-family: "Dancing Script", sans-serif;
  }

  /*extra*/
  .back-to-top-button {
    height: 4rem;
    width: 4rem;
    bottom: 3rem;
    right: 1rem;
  }

  .back-to-top {
    height: 2.5rem;
    width: 2.5rem;
  }

  .loading {
    font-size: 3rem;
  }

  /*Main content*/
  .previews-container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .preview-title {
    font-size: 1.5rem;
    padding: 0.5rem 0 1rem 0;
  }

  .preview-image {
    height: 15rem;
    width: 11.25rem;
  }

  .preview-info {
    font-size: 1rem;
    padding: 0 1.2rem;
  }

  /***show***/

  .show-relative-container {
    width: 100vw;
    height: 60vh;
  }

  .show-title {
    font-size: 3rem;
  }

  .show-cover-image {
    height: 15rem;
    width: 11.25rem;
  }

  .show-description-container {
    padding: 2rem 1.5rem;
  }

  .show-description {
    font-size: 1rem;
  }

  .seasons-container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .season-title {
    font-size: 1.3rem;
    padding: 0.5rem 0 1rem 0;
  }

  .season-cover-image {
    height: 10rem;
    width: 7.5rem;
  }

  .season-episode-number {
    font-size: 1.2rem;
  }

  .back-to-shows {
    width: 1.5rem;
    height: 1.5rem;
  }

  /* Episode Overlay*/
  .episode-page-title {
    margin: 2rem 0;
    font-size: 3rem;
  }

  .episodes-container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .episode-title {
    font-size: 1.5rem;
    padding: 0.5rem 0 1rem 0;
  }

  .episode-image {
    height: 15rem;
    width: 11.25rem;
    margin-top: 0.6rem;
  }

  .episode-description {
    padding: 0 0.4rem;
    font-size: 1rem;
  }

  /* Favourites */
  .favourite-page-title {
    margin: 2rem 0;
    font-size: 3rem;
  }

  .favourites-container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .favourite-time {
    font-size: 1rem;
  }
  .favourite-image {
    height: 15rem;
    width: 11.25rem;
    margin-top: 0.6rem;
  }
  .favourite-title {
    font-size: 1.5rem;
    padding: 0.5rem 0 1rem 0;
  }
  .favourite-season {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  .favourite-episode {
    font-size: 1rem;
    margin-top: 1.5rem;
  }

  .favourite-button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }

  .episode-favourite-image {
    filter: contrast(0);
    height: 3rem;
    width: 3rem;
  }

  .clear-all-favourites {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  /*nav*/
  nav {
    height: 5rem;
  }

  .name {
    font-size: 3.5rem;
    padding-left: 0.4rem;
  }

  .navbar {
    gap: 1rem;
    padding-right: 1rem;
  }

  /*Carousel*/
  .carousel-content {
    margin: 6rem 0;
  }

  .carousel-text {
    font-size: 2rem;
  }

  .carousel-image {
    width: 18.75rem;
    height: 25rem;
    box-shadow: -8px 8px 17px 0px rgba(12, 112, 117, 0.75);
  }

  .carousel-text-inside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.8rem;
  }

  .carousel-title {
    font-size: 2.5rem;
    font-weight: 900;
    align-self: center;
  }

  .carousel-description {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
  }

  /*filter-bar*/
  .filter-bar {
    padding: 1rem 2rem;
  }

  .filter-bar {
    width: 100vw;
    height: 4rem;
    border: 0.2rem solid #05161a;
    background-color: #6da5c0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    align-content: center;
    margin: 6rem 0;
    opacity: 0.75;
  }

  .filter-bar-label {
    color: #05161a;
    font-size: 1.6rem;
    font-family: "Dancing Script", sans-serif;
  }

  /*extra*/
  .back-to-top-button {
    height: 5rem;
    width: 5rem;
    bottom: 3rem;
    right: 1rem;
  }

  .back-to-top {
    height: 3rem;
    width: 3rem;
  }

  .loading {
    font-size: 3rem;
  }

  /*Main content*/
  .previews-container {
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
  }

  .preview-title {
    font-size: 1.5rem;
    padding: 0.5rem 0 1rem 0;
  }

  .preview-image {
    height: 15rem;
    width: 11.25rem;
  }

  .preview-info {
    font-size: 1rem;
    padding: 0 1.2rem;
  }

  /***show***/

  .show-relative-container {
    width: 100vw;
    height: 60vh;
  }

  .show-title {
    font-size: 3rem;
  }

  .show-cover-image {
    height: 15rem;
    width: 11.25rem;
  }

  .show-description-container {
    padding: 2rem 1.5rem;
  }

  .show-description {
    font-size: 1rem;
  }

  .seasons-container {
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .season-title {
    font-size: 1.3rem;
    padding: 0.5rem 0 1rem 0;
  }

  .season-cover-image {
    height: 10rem;
    width: 7.5rem;
  }

  .season-episode-number {
    font-size: 1.2rem;
  }

  .back-to-shows {
    width: 1.5rem;
    height: 1.5rem;
  }

  /* Episode Overlay*/
  .episode-page-title {
    margin: 2rem 0;
    font-size: 3rem;
  }

  .episodes-container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .episode-title {
    font-size: 1.5rem;
    padding: 0.5rem 0 1rem 0;
  }

  .episode-image {
    height: 15rem;
    width: 11.25rem;
    margin-top: 0.6rem;
  }

  .episode-description {
    padding: 0 0.4rem;
    font-size: 1rem;
  }

  /* Favourites */
  .favourite-page-title {
    margin: 2rem 0;
    font-size: 3rem;
  }

  .favourites-container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .favourite-time {
    font-size: 1rem;
  }
  .favourite-image {
    height: 15rem;
    width: 11.25rem;
    margin-top: 0.6rem;
  }
  .favourite-title {
    font-size: 1.5rem;
    padding: 0.5rem 0 1rem 0;
  }
  .favourite-season {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  .favourite-episode {
    font-size: 1rem;
    margin-top: 1.5rem;
  }

  .favourite-button {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }

  .episode-favourite-image {
    filter: contrast(0);
    height: 4rem;
    width: 4rem;
  }

  .clear-all-favourites {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }
}
