/*
colors:
#05161a
#072e33
#0c7075
#0f969c
#6da5c0
#294d61
*/

body {
  background-color: #072e33;
  color: #ffffff;
  scroll-behavior: smooth;
  position: relative;
  font-family: "Montserrat", "sans-serif";
}

/* Carousel: */

/* Header */
header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

/* Favourites */

/* filter-bar */
.filter-bar {
  height: 4rem;
  background-color: rgb(226, 73, 73);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* sort by dropdown menu */

/*genre sorting*/
.genre-title {
  text-align: center;
  padding: 2rem 0;
}

/* search*/

/* Main content */
.previews-container {
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}

/* .preview {
  background-color: #b8b8b8;
  padding: 2rem;
  border-radius: 0.5rem;
} */

.preview-title {
  font-weight: 800;
  font-size: 1.6rem;
  text-align: center;
  padding: 1rem 0 2rem 0;
}

.preview-cover-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.preview-cover-image {
  height: 16rem;
  width: 12rem;
}

/* Show Overlay*/

.image {
  border-radius: 0.5rem;
  box-shadow: -9px 5px 27px -6px rgba(12, 112, 117, 0.75);
}

.image:hover {
  transform: scale(1.05);
  box-shadow: none;
}
