/*
colors:
#05161a
#072e33
#0c7075
#0f969c
#6da5c0
#294d61
grey: #999999;
lighter-grey:#a9a9a9
*/

body {
  background-color: #072e33;
  color: #a9a9a9;
  scroll-behavior: smooth;
  position: relative;
  font-family: "Lato", sans-serif;
}

/********************reusable css*********************/

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: #05161a;
}

.image:hover {
  transform: scale(1.05);
}

/* Carousel: */
.carousel-content {
  margin: 15rem 0;
}

.carousel-text {
  font-size: 2rem;
}

.carousel-image {
  width: 18.75rem;
  height: 25rem;
  box-shadow: -8px 8px 17px 0px rgba(12, 112, 117, 0.75);
}

.carousel-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

.carousel-title {
  font-size: 3rem;
  font-weight: 900;
  align-self: center;
}

.carousel-description {
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem;
}

/* Header */

/* website name and navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #05161a;

  width: 100vw;
  height: 8rem;
  position: sticky;
  top: 0;
  z-index: 100;
  opacity: 0.7;
}

.name {
  font-family: "Dancing Script", sans-serif;
  font-weight: bold;
  color: #a9a9a9;
  font-size: 5rem;
  padding-left: 1rem;
}

.p {
  color: #6da5c0;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-right: 2rem;
}

/* entire filter-bar */
.filter-bar {
  height: 4rem;
  background-color: rgb(226, 73, 73);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* order sorting */

/*genre dropdown*/
.genre-title {
  text-align: center;
  padding: 2rem 0;
}

/* title search*/

/* Main content */
.previews-container {
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

.preview-title {
  font-size: 1.6rem;
  font-weight: 900;
  text-align: center;
  padding: 1rem 0 2rem 0;
}

.preview-image-container {
}

.preview-image {
  height: 16rem;
  width: 12rem;
  border-radius: 0.6rem;
}

.preview-info {
  font-size: 1.1rem;
  padding: 0 2.5rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.preview-genres {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.preview-seasons {
}

.preview-button-container {
}

.preview-button {
}

/* Show Overlay*/

.show {
}

.seasons-container {
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

.season-title {
  font-size: 1.4rem;
  font-weight: 900;
  text-align: center;
}

.season-cover-image {
  height: 16rem;
  width: 12rem;
  border-radius: 0.6rem;
}

.season-episode-number {
  font-size: 1.2rem;
}

.season-button {
}

.back-to-shows {
  width: 1rem;
  height: 1rem;
}

/* Episode Overlay*/
.episode-page-title {
  text-align: center;
  margin-top: 5rem;
}
.episodes-container {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  margin: 5rem 0;
}
.episode-title {
  font-size: 1.5rem;
}
.episode-image {
  height: 14rem;
  width: 10.5rem;
  border-radius: 0.6rem;
}

.episode-description {
  text-align: center;
  padding: 0 1rem;
}
.episode-button-container {
  display: flex;
  align-items: center;
  gap: 6rem;
}

/* Favourites */
.episode-favourite-image {
  filter: contrast(0);
  height: 3rem;
  width: 3rem;
}

/*extra*/
.back-to-top-button {
  height: 5rem;
  width: 5rem;
  border: 1px solid black;
  border-radius: 100%;
  background-color: #6da5c0;
  opacity: 0.5;

  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 100;
}

.back-to-top {
  height: 3.5rem;
  width: 3rem;
  stroke: #072e33;
  opacity: 0.5;
}
